
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* NAVBAR */
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 40px;
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        nav .logo {
            font-size: 20px;
            font-weight: bold;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 20px;
            margin: 0;
            padding: 0;
        }

        nav ul li a {
            text-decoration: none;
            color: #333;
            font-weight: 500;
        }

        nav ul li a:hover {
            color: #007BFF;
        }

        /* HERO SECTION */
        .hero {
            height: 90vh;
           
             /* background-image:url("/static/Images/banner.png");  */
            background-position: center;
            
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
        }

        .hero-content {
        }

        .hero h1 {
            font-size: 40px;
            margin-bottom: 10px;
        }

        .hero p {
            font-size: 18px;
        }
